*{
  margin: 0;
  padding: 0;
}
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
 footer{
   background: linear-gradient(60deg,#f57c00,#ffc107,#ffd54f,#fff9c4);
   border-top: 2px solid black;
 }
.box{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(60deg,#512da8,#673ab7,#9575cd,#d1c4e9);
  border-bottom: 2px solid black;
}
h2{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 3vw;
  padding: 0;
  text-align: center;
  font-size: 16vw;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0,0,0,1);
  mix-blend-mode: overlay;
  box-shadow: 0 5px 10px rgba(0,0,0,1);
  background: rgba(0,0,0,0.2);
}

.separ{
  width: 100%;
  height:10vh;
  background: rgba(3,3,3,0.8);
}
.para1, .para2, .para3{
  background: linear-gradient(60deg,#512da8,#673ab7,#9575cd,#d1c4e9);
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
 .text{
  width:40%;
  height: 80%;
}

.img{
  width: 100%;
  height: 100%;
  background: url("../img/bird.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .img-cover{
  width:40%;
  height: 80%;
}
.para1 .img{
  mix-blend-mode:luminosity;
  }

  .para3 .img{
mix-blend-mode:difference;
}

.para3 .img-cover{
  background: repeating-linear-gradient(60deg,#ef6c00,#ef6c00 20px, #ffb74d 100px,#ffb74d 100px );
  animation: 0.5s infinite alternate anime;
}

@keyframes anime {
  0%{

    background: repeating-linear-gradient(60deg,#ef6c00,#ef6c00 20px, #ffb74d 100px,#ffb74d 100px );
  }
  25%{

    background: repeating-linear-gradient(60deg,#ffc107,#ffc107 20px, #ffd54f 100px,#ffd54f 100px );
  }
  50%{

    background: repeating-linear-gradient(60deg,#76ff03,#76ff03 20px, #ccff90 100px,#ccff90 100px );
  }
  75%{

    background: repeating-linear-gradient(60deg,#00e676,#00e676 20px, #b9f6ca 100px,#b9f6ca 100px );
  }
  100%{

    background: repeating-linear-gradient(60deg,#1de9b6,#1de9b6 20px, #a7ffeb 100px,#a7ffeb 100px );
  }
}
.text {
  overflow: auto;
  color: white;
  font-size: 1.3em;
  padding: 50px;
  background: linear-gradient(rgba(0,0,0,0.5),
                              rgba(0,0,0,0.4),
                              rgba(0,0,0,0.3),
                              rgba(0,0,0,0.2),
                              rgba(0,0,0,0.1),
                              rgba(255,255,255,0.2));
}
