/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/style.scss */
p, h2 {
  color: white;
}

/* line 8, ../sass/partials/_section.scss */
html {
  color: white;
}

/* line 11, ../sass/partials/_section.scss */
nav, section, .fond1, .fond2 {
  width: 100%;
}

/* line 14, ../sass/partials/_section.scss */
nav {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* line 21, ../sass/partials/_section.scss */
nav .sec {
  text-align: right;
  margin: 35px 0;
}
/* line 23, ../sass/partials/_section.scss */
nav .sec a {
  margin: 0 50px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
/* line 32, ../sass/partials/_section.scss */
nav .barre1, nav .barre2, nav .barre3 {
  margin: 10px 0;
  border: 1px solid #b6b3b3;
}
/* line 36, ../sass/partials/_section.scss */
nav .barre1 {
  width: 35%;
}
/* line 39, ../sass/partials/_section.scss */
nav .barre2 {
  width: 45%;
}
/* line 42, ../sass/partials/_section.scss */
nav .barre3 {
  width: 25%;
}

/* line 46, ../sass/partials/_section.scss */
section, .fond1, .fond2 {
  position: relative;
}

/* line 49, ../sass/partials/_section.scss */
section {
  height: 100vh;
}

/* line 52, ../sass/partials/_section.scss */
.fond1 {
  height: 60vh;
  background: linear-gradient(black, 80%, #949292);
}

/* line 56, ../sass/partials/_section.scss */
.fond2 {
  background: linear-gradient(#363535, black, 80%, #363535);
  height: 40vh;
}

/* line 1, ../sass/partials/_home.scss */
.carre, .logo, .reflet {
  position: absolute;
}

/* line 4, ../sass/partials/_home.scss */
.carre {
  top: 22%;
}

/* line 7, ../sass/partials/_home.scss */
.logo {
  top: 20%;
}

/* line 10, ../sass/partials/_home.scss */
.carre {
  left: 30%;
}

/* line 13, ../sass/partials/_home.scss */
.reflet {
  top: 12%;
  left: 35%;
  height: 35vh;
}

/* line 18, ../sass/partials/_home.scss */
.nomsite {
  z-index: 2;
  position: fixed;
  top: 80%;
}

/* line 23, ../sass/partials/_home.scss */
.nomsite, .logo {
  left: 3%;
}

/* line 1, ../sass/partials/_projets.scss */
.projet .fond1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 6, ../sass/partials/_projets.scss */
.cadre, .gdeimg {
  position: absolute;
  top: 15vh;
  width: 45%;
  height: 400px;
}

/* line 12, ../sass/partials/_projets.scss */
.cadre {
  right: 50px;
}

/* line 16, ../sass/partials/_projets.scss */
.gdeimg {
  left: 50px;
  border: 2px solid black;
}

/* line 21, ../sass/partials/_projets.scss */
.imgtaille {
  width: 600px;
  height: 400px;
}
/* line 24, ../sass/partials/_projets.scss */
.imgtaille img {
  width: auto;
}

/* line 29, ../sass/partials/_projets.scss */
.img {
  margin: 0 auto;
  top: 20%;
  width: 55%;
}
/* line 33, ../sass/partials/_projets.scss */
.img .imgsite > img {
  width: 220px;
  height: 100px;
}

/* line 1, ../sass/partials/_propos.scss */
.propos {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
}
/* line 6, ../sass/partials/_propos.scss */
.propos .profil {
  align-items: center;
  display: flex;
  width: 50%;
}
/* line 10, ../sass/partials/_propos.scss */
.propos .profil img {
  margin: 0 30px;
  margin-left: 150px;
  width: 180px;
  height: 250px;
}
/* line 17, ../sass/partials/_propos.scss */
.propos .tech {
  display: flex;
  width: 50%;
  justify-content: space-between;
  text-align: center;
}
/* line 22, ../sass/partials/_propos.scss */
.propos .tech div {
  width: 33%;
  height: 20vh;
  margin: 0;
  padding: 0 25px;
}
/* line 27, ../sass/partials/_propos.scss */
.propos .tech div:first-child {
  text-shadow: 0 3px 6px #F25A31;
}
/* line 30, ../sass/partials/_propos.scss */
.propos .tech div:nth-child(2) {
  text-shadow: 0 3px 6px #6C7EB7;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
/* line 36, ../sass/partials/_propos.scss */
.propos .tech div:last-child {
  text-shadow: 0 3px 6px #107CD2;
}

/* line 42, ../sass/partials/_propos.scss */
.descrtexte {
  width: 40%;
  height: 30vh;
  margin-top: 5vh;
  margin-right: 5vh;
  display: flex;
  float: right;
}
/* line 49, ../sass/partials/_propos.scss */
.descrtexte .texte {
  align-items: center;
  background-color: rgba(1, 1, 1, 0.5);
  width: 100%;
  text-align: justify;
  padding: 50px;
}
