/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/style.scss */
p, h1, h2 {
  color: white;
}

/* line 8, ../sass/partials/_section.scss */
html {
  color: white;
}

/* line 11, ../sass/partials/_section.scss */
.nav2 {
  display: none;
}

/* line 14, ../sass/partials/_section.scss */
nav, section, .fond1, .fond2 {
  width: 100%;
}

/* line 17, ../sass/partials/_section.scss */
nav {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* line 24, ../sass/partials/_section.scss */
nav .sec {
  text-align: right;
  margin: 35px 0;
}
/* line 26, ../sass/partials/_section.scss */
nav .sec a {
  margin: 0 50px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
/* line 35, ../sass/partials/_section.scss */
nav .barre1, nav .barre2, nav .barre3 {
  margin: 10px 0;
  border: 1px solid #b6b3b3;
}
/* line 39, ../sass/partials/_section.scss */
nav .barre1 {
  width: 35%;
}
/* line 42, ../sass/partials/_section.scss */
nav .barre2 {
  width: 45%;
}
/* line 45, ../sass/partials/_section.scss */
nav .barre3 {
  width: 25%;
}

/* line 49, ../sass/partials/_section.scss */
section, .fond1, .fond2 {
  position: relative;
  width: 100%;
}

/* line 53, ../sass/partials/_section.scss */
section {
  height: 100vh;
}

/* line 56, ../sass/partials/_section.scss */
.fond1 {
  height: 60vh;
  background: linear-gradient(#1c3435, 80%, #3e9489);
}

/* line 60, ../sass/partials/_section.scss */
.fond2 {
  background: linear-gradient(#19393b, #1c3435, 80%, #19393b);
  height: 40vh;
}

/* line 1, ../sass/partials/_home.scss */
.carre, .logo, .reflet {
  position: absolute;
}

/* line 4, ../sass/partials/_home.scss */
.carre {
  top: 22%;
  left: 30%;
}

/* line 8, ../sass/partials/_home.scss */
.carre2 {
  display: none;
}

/* line 11, ../sass/partials/_home.scss */
.logo {
  top: 20%;
}

/* line 15, ../sass/partials/_home.scss */
.reflet {
  top: 12%;
  left: 35%;
  height: 35vh;
}

/* line 20, ../sass/partials/_home.scss */
.nomsite {
  z-index: 2;
  position: fixed;
  top: 80%;
}

/* line 25, ../sass/partials/_home.scss */
.nomsite, .logo {
  left: 3%;
}

/* line 28, ../sass/partials/_home.scss */
h1 {
  position: relative;
  top: 80%;
  margin-left: 70px;
  font-size: 1.3em;
}

/* line 1, ../sass/partials/_projets.scss */
.projet .fond1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 6, ../sass/partials/_projets.scss */
.cadre, .gdeimg {
  position: absolute;
  top: 15vh;
  width: 45%;
  height: 400px;
}

/* line 12, ../sass/partials/_projets.scss */
.cadre {
  right: 150px;
  margin-top: 20px;
}

/* line 16, ../sass/partials/_projets.scss */
.gdeimg {
  width: 600px;
  height: 400px;
  left: 150px;
  border: 2px solid black;
}

/* line 23, ../sass/partials/_projets.scss */
.imgtaille {
  width: 600px;
  height: 400px;
}
/* line 26, ../sass/partials/_projets.scss */
.imgtaille img {
  width: 100%;
}

/* line 31, ../sass/partials/_projets.scss */
.img {
  margin: 0 auto;
  top: 20%;
  width: 55%;
}
/* line 35, ../sass/partials/_projets.scss */
.img .imgsite > img {
  width: 220px;
  height: 100px;
}

/* line 40, ../sass/partials/_projets.scss */
.carousel-item {
  display: none;
}

/* line 1, ../sass/partials/_propos.scss */
.technoT {
  display: none;
}

/* line 4, ../sass/partials/_propos.scss */
.propos {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
}
/* line 9, ../sass/partials/_propos.scss */
.propos .profil {
  align-items: center;
  display: flex;
  width: 50%;
}
/* line 13, ../sass/partials/_propos.scss */
.propos .profil img {
  margin: 0 30px;
  margin-left: 150px;
  width: 180px;
  height: 250px;
}
/* line 20, ../sass/partials/_propos.scss */
.propos .tech {
  display: flex;
  width: 50%;
  justify-content: space-between;
  text-align: center;
}
/* line 25, ../sass/partials/_propos.scss */
.propos .tech div {
  width: 33%;
  height: 20vh;
  margin: 0;
  padding: 0 25px;
}
/* line 30, ../sass/partials/_propos.scss */
.propos .tech div:first-child {
  text-shadow: 0 3px 6px #F25A31;
}
/* line 33, ../sass/partials/_propos.scss */
.propos .tech div:nth-child(2) {
  text-shadow: 0 3px 6px #6C7EB7;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
/* line 39, ../sass/partials/_propos.scss */
.propos .tech div:last-child {
  text-shadow: 0 3px 6px #107CD2;
}

/* line 45, ../sass/partials/_propos.scss */
.descrtexte {
  width: 40%;
  height: 30vh;
  margin-top: 5vh;
  margin-right: 5vh;
  display: flex;
  float: right;
}
/* line 52, ../sass/partials/_propos.scss */
.descrtexte .texte {
  align-items: center;
  background-color: rgba(1, 1, 1, 0.5);
  width: 100%;
  text-align: justify;
  padding: 50px;
}

/* line 1, ../sass/partials/_contact.scss */
form {
  position: absolute;
  width: 40%;
  top: 80px;
  left: 100px;
  z-index: 151515;
}
/* line 7, ../sass/partials/_contact.scss */
form label {
  color: white;
}
/* line 10, ../sass/partials/_contact.scss */
form input {
  margin: 10px  10px 10px 0;
}

/* line 14, ../sass/partials/_contact.scss */
.mescontacts {
  position: absolute;
  right: 100px;
  top: 250px;
}
/* line 18, ../sass/partials/_contact.scss */
.mescontacts span {
  font-weight: bolder;
}
/* line 21, ../sass/partials/_contact.scss */
.mescontacts p {
  margin-top: 10px;
}

@media screen and (max-width: 426px) {
  /* line 3, ../sass/partials/_phone.scss */
  .carre,
  .reflet,
  .info,
  .propos .profil,
  nav {
    display: none;
  }

  /* line 11, ../sass/partials/_phone.scss */
  .nav2 {
    display: block;
    width: 100%;
    margin-top: 15px;
  }
  /* line 16, ../sass/partials/_phone.scss */
  .nav2 .sec2 {
    text-align: center;
  }
  /* line 19, ../sass/partials/_phone.scss */
  .nav2 .sec2 a {
    margin: 15px;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }

  /* line 30, ../sass/partials/_phone.scss */
  .carre2 {
    display: block;
    position: absolute;
    width: 70%;
    top: 50% !important;
    left: 15%;
  }

  /* line 40, ../sass/partials/_phone.scss */
  .nomsite {
    position: fixed;
    top: 65%;
  }

  /* line 45, ../sass/partials/_phone.scss */
  h1 {
    margin-left: 0;
    text-align: center;
  }

  /* line 50, ../sass/partials/_phone.scss */
  form {
    width: 70%;
    left: 15%;
    top: 20px !important;
  }

  /* line 56, ../sass/partials/_phone.scss */
  .gdeimg {
    width: 70%;
    height: auto;
    top: 15%;
    left: 15%;
  }
  /* line 62, ../sass/partials/_phone.scss */
  .gdeimg .imgtaille {
    height: auto;
  }

  /* line 67, ../sass/partials/_phone.scss */
  .cadre {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 35vh !important;
    height: auto;
  }

  /* line 76, ../sass/partials/_phone.scss */
  .description {
    display: flex;
    align-items: center;
  }
  /* line 80, ../sass/partials/_phone.scss */
  .description p {
    text-align: center;
  }
  /* line 84, ../sass/partials/_phone.scss */
  .description a {
    width: 50%;
    margin-left: 25%;
  }

  /* line 90, ../sass/partials/_phone.scss */
  .img {
    position: relative;
    width: 80%;
    top: 50%;
  }

  /* line 96, ../sass/partials/_phone.scss */
  .tech {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    text-align: center;
  }
  /* line 102, ../sass/partials/_phone.scss */
  .tech div {
    width: 33%;
    height: 20vh;
    margin: 0;
    padding: 0 25px;
  }
  /* line 108, ../sass/partials/_phone.scss */
  .tech div:first-child {
    text-shadow: 0 3px 6px #F25A31;
  }
  /* line 112, ../sass/partials/_phone.scss */
  .tech div:nth-child(2) {
    text-shadow: 0 3px 6px #6C7EB7;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  /* line 119, ../sass/partials/_phone.scss */
  .tech div:last-child {
    text-shadow: 0 3px 6px #107CD2;
  }

  /* line 125, ../sass/partials/_phone.scss */
  .technoT {
    display: block;
    text-align: center;
    padding-top: 20%;
    font-size: 2em;
  }

  /* line 132, ../sass/partials/_phone.scss */
  .descrtexte {
    width: 70%;
    margin-left: 15%;
    height: auto;
    margin-top: 15vh !important;
    float: left;
    display: flex;
  }
  /* line 140, ../sass/partials/_phone.scss */
  .descrtexte .texte {
    align-items: center;
    background-color: rgba(1, 1, 1, 0.5);
    width: 100%;
    text-align: justify;
    padding: 10px;
  }

  /* line 150, ../sass/partials/_phone.scss */
  .mescontacts {
    top: 60%;
  }
}
@media screen and (max-width: 768px) {
  /* line 3, ../sass/partials/_tablet.scss */
  .carre,
  .reflet,
  .info,
  .propos .profil,
  nav {
    display: none;
  }

  /* line 11, ../sass/partials/_tablet.scss */
  .nav2 {
    display: block;
    width: 100%;
    margin-top: 15px;
  }
  /* line 16, ../sass/partials/_tablet.scss */
  .nav2 .sec2 {
    text-align: center;
  }
  /* line 19, ../sass/partials/_tablet.scss */
  .nav2 .sec2 a {
    margin: 15px;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }

  /* line 30, ../sass/partials/_tablet.scss */
  .carre2 {
    display: block;
    position: absolute;
    width: 70%;
    top: 45%;
    left: 15%;
  }

  /* line 38, ../sass/partials/_tablet.scss */
  .logo,
  .nomsite {
    width: 50%;
    left: 25%;
  }

  /* line 44, ../sass/partials/_tablet.scss */
  .nomsite {
    position: fixed;
    top: 65%;
  }

  /* line 49, ../sass/partials/_tablet.scss */
  h1 {
    margin-left: 0;
    text-align: center;
  }

  /* line 54, ../sass/partials/_tablet.scss */
  form {
    width: 70%;
    left: 15%;
    top: 15vh;
  }

  /* line 60, ../sass/partials/_tablet.scss */
  .gdeimg {
    width: 70%;
    height: auto;
    top: 15%;
    left: 15%;
  }
  /* line 66, ../sass/partials/_tablet.scss */
  .gdeimg .imgtaille {
    height: auto;
  }

  /* line 71, ../sass/partials/_tablet.scss */
  .cadre {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 45vh;
    height: auto;
  }

  /* line 80, ../sass/partials/_tablet.scss */
  .description {
    display: flex;
    align-items: center;
  }
  /* line 84, ../sass/partials/_tablet.scss */
  .description p {
    text-align: center;
  }
  /* line 88, ../sass/partials/_tablet.scss */
  .description a {
    width: 50%;
    margin-left: 25%;
  }

  /* line 94, ../sass/partials/_tablet.scss */
  .img {
    position: relative;
    width: 80%;
    top: 50%;
  }

  /* line 100, ../sass/partials/_tablet.scss */
  .tech {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    text-align: center;
  }
  /* line 106, ../sass/partials/_tablet.scss */
  .tech div {
    width: 33%;
    height: 20vh;
    margin: 0;
    padding: 0 25px;
  }
  /* line 112, ../sass/partials/_tablet.scss */
  .tech div:first-child {
    text-shadow: 0 3px 6px #F25A31;
  }
  /* line 116, ../sass/partials/_tablet.scss */
  .tech div:nth-child(2) {
    text-shadow: 0 3px 6px #6C7EB7;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  /* line 122, ../sass/partials/_tablet.scss */
  .tech div:last-child {
    text-shadow: 0 3px 6px #107CD2;
  }

  /* line 128, ../sass/partials/_tablet.scss */
  .technoT {
    display: block;
    text-align: center;
    padding-top: 20%;
    font-size: 2em;
  }

  /* line 135, ../sass/partials/_tablet.scss */
  .descrtexte {
    width: 70%;
    margin-left: 15%;
    height: auto;
    margin-top: 20vh;
    float: left;
    display: flex;
  }
  /* line 143, ../sass/partials/_tablet.scss */
  .descrtexte .texte {
    align-items: center;
    background-color: rgba(1, 1, 1, 0.5);
    width: 100%;
    text-align: justify;
    padding: 10px;
  }

  /* line 153, ../sass/partials/_tablet.scss */
  .mescontacts {
    top: 60%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  /* line 3, ../sass/partials/_tabletL.scss */
  .carre,
  .reflet,
  .info,
  .propos .profil,
  nav {
    display: none;
  }

  /* line 11, ../sass/partials/_tabletL.scss */
  .nav2 {
    display: block;
    width: 100%;
    margin-top: 15px;
  }
  /* line 16, ../sass/partials/_tabletL.scss */
  .nav2 .sec2 {
    text-align: center;
  }
  /* line 19, ../sass/partials/_tabletL.scss */
  .nav2 .sec2 a {
    margin: 15px;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }

  /* line 30, ../sass/partials/_tabletL.scss */
  .carre {
    display: block;
    position: absolute;
    width: 50%;
    left: 45%;
  }

  /* line 39, ../sass/partials/_tabletL.scss */
  .nomsite {
    position: fixed;
    top: 62%;
  }

  /* line 44, ../sass/partials/_tabletL.scss */
  h1 {
    margin-left: 0;
    text-align: center;
  }

  /* line 49, ../sass/partials/_tabletL.scss */
  form {
    width: 70%;
    left: 15%;
  }

  /* line 54, ../sass/partials/_tabletL.scss */
  .gdeimg {
    position: absolute;
    width: 50%;
    height: auto;
    top: 15%;
    left: 5%;
  }
  /* line 61, ../sass/partials/_tabletL.scss */
  .gdeimg .imgtaille {
    width: 100%;
    height: auto;
  }

  /* line 67, ../sass/partials/_tabletL.scss */
  .cadre {
    position: absolute;
    width: 40%;
    left: 55%;
    height: auto;
  }

  /* line 75, ../sass/partials/_tabletL.scss */
  .description {
    display: flex;
    align-items: center;
  }
  /* line 79, ../sass/partials/_tabletL.scss */
  .description p {
    text-align: center;
  }
  /* line 83, ../sass/partials/_tabletL.scss */
  .description a {
    width: 50%;
    margin-left: 25%;
  }

  /* line 89, ../sass/partials/_tabletL.scss */
  .img {
    position: relative;
    width: 80%;
    top: 50%;
  }

  /* line 95, ../sass/partials/_tabletL.scss */
  .tech {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    text-align: center;
  }
  /* line 101, ../sass/partials/_tabletL.scss */
  .tech div {
    width: 33%;
    height: 20vh;
    margin: 0;
    padding: 0 25px;
  }
  /* line 107, ../sass/partials/_tabletL.scss */
  .tech div:first-child {
    text-shadow: 0 3px 6px #F25A31;
  }
  /* line 111, ../sass/partials/_tabletL.scss */
  .tech div:nth-child(2) {
    text-shadow: 0 3px 6px #6C7EB7;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  /* line 117, ../sass/partials/_tabletL.scss */
  .tech div:last-child {
    text-shadow: 0 3px 6px #107CD2;
  }

  /* line 123, ../sass/partials/_tabletL.scss */
  .technoT {
    display: block;
    text-align: center;
    padding-top: 10%;
    font-size: 2em;
  }

  /* line 130, ../sass/partials/_tabletL.scss */
  .descrtexte {
    width: 70%;
    margin-left: 15%;
    height: auto;
    margin-top: 25vh;
    float: left;
    display: flex;
  }
  /* line 138, ../sass/partials/_tabletL.scss */
  .descrtexte .texte {
    align-items: center;
    background-color: rgba(1, 1, 1, 0.5);
    width: 100%;
    text-align: justify;
    padding: 10px;
  }

  /* line 148, ../sass/partials/_tabletL.scss */
  .mescontacts {
    top: 60%;
  }
}
