 .carre,.logo,.reflet{
    position: absolute;
}
.carre{
    top: 22%;
    left:30%;
}
.carre2{
    display: none;
}
.logo{
    top: 20%;
}

.reflet{
    top: 12%;
    left:35%;
    height: 35vh;
}
.nomsite{
    z-index: 2;
    position: fixed;
    top:80%;
}
.nomsite,.logo{
    left:3%;
}
h1{
    position: relative;
    top:80%;
    margin-left:70px;
    font-size:1.3em;
}
